OPENAI_Enabled=false
OPENAI_BASE_URL=null
OPENAI_ENDPOINT=null
OPENAI_API_KEY=null
OPENAI_MODEL_NAME=null
OPENAI_PROMPT_FILE=default-prompt.txt

DEEPSEEK_Enabled=false
DEEPSEEK_BASE_URL=null
DEEPSEEK_ENDPOINT=null
DEEPSEEK_API_KEY=null
DEEPSEEK_MODEL_NAME=null
DEEPSEEK_PROMPT_FILE=default-prompt.txt

GEMINI_ENABLED=false
GEMINI_BASE_URL=null
GEMINI_ENDPOINT=null
GEMINI_API_KEY=null
GEMINI_MODEL_NAME=null
GEMINI_PROMPT_FILE=default-prompt.txt

LOCAL_ENABLED=false
LOCAL_BASE_URL=null
LOCAL_ENDPOINT=null
LOCAL_API_KEY=null
LOCAL_MODEL_NAME=null
LOCAL_PROMPT_FILE=default-prompt.txt